<footer role="contentinfo" aria-label="pied de page" id="footer">

  <!-- copyright -->
  <div class="container text-right mb-5 hidden">
    <small aria-label="créateur du site"><em>Site créé par <a href="https://bertrand-bichat.github.io/" class="text-primary text-decoration-none" target="_blank" rel="noopener noreferrer author" title="créateur du site">Bertrand Bichat</a></em></small>
  </div>

</footer>
