<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      body {
        background-color: #00a4cd;
        color: #ffffff;
        padding: 4rem 2rem;
      }
      .text-center {
        text-align: center;
      }
      .container {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <%= image_tag 'apple-icon.png' %>
      </div>
      <h1 class="text-center">
        You need a working internet connection to use this website
      </h1>
      <p class="text-center">
        Offline mode is not supported yet
      </p>
    </div>
  </body>
</html>
