<div class="container mb-5">

  <h1 class="text-center mt-5">QR-Code</h1>
  <h2 class="text-center mb-5">to open the website on your mobile</h2>

  <div class="text-center">
    <a href="http://www.unitag.io/qreator/generate?setting=%7B%22LAYOUT%22%3A%7B%22COLORBG%22%3A%22ffffff%22%2C%22COLOR1%22%3A%22167ffb%22%7D%2C%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Spike%22%7D%2C%22BODY_TYPE%22%3A0%2C%22E%22%3A%22M%22%2C%22LOGO%22%3A%7B%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22https%3A%5C%2F%5C%2Feqrcode.co%5C%2Fa%5C%2FMJ4nUa%22%7D%2C%22TYPE%22%3A%22url%22%7D " target="_blank" rel="noopener noreferrer">
      <img class="border border-dark" src="http://www.unitag.io/qreator/generate?setting=%7B%22LAYOUT%22%3A%7B%22COLORBG%22%3A%22ffffff%22%2C%22COLOR1%22%3A%22167ffb%22%7D%2C%22EYES%22%3A%7B%22EYE_TYPE%22%3A%22Spike%22%7D%2C%22BODY_TYPE%22%3A0%2C%22E%22%3A%22M%22%2C%22LOGO%22%3A%7B%7D%7D&data=%7B%22DATA%22%3A%7B%22URL%22%3A%22https%3A%5C%2F%5C%2Feqrcode.co%5C%2Fa%5C%2FMJ4nUa%22%7D%2C%22TYPE%22%3A%22url%22%7D" alt="QR Code - PWA test">
    </a>
  </div>

</div>
