<div class="container mb-5">

  <h1 class="text-center mt-5">QR-Code</h1>
  <h2 class="text-center mb-5">to open the website on your mobile</h2>

  <div class="text-center">
    <%= image_tag 'qrcode.png' %>
  </div>

</div>
